{% extends 'baseForHome.html' %}
{% block title %} Cancer {% endblock title %}
{% load static %}

{% block content %}
<div class="alzheimer-page px-5">
    <h1 class="text-center py-5"> Alzheimer's Disease</h1>
    <img class="w-100 h-25 " src="{% static 'images/biological-scene-with-brain.jpg' %}" alt="Alzheimer">
    <h2>Cause</h2>
    <p>The exact cause is not fully understood, but it is believed to involve a combination of genetic, environmental, and lifestyle factors. The accumulation of beta-amyloid plaques and tau tangles in the brain are key pathological features.</p>
   <p>Alzheimer's is the most common cause of dementia, a general term for memory loss and other cognitive abilities serious enough to interfere with daily life. Alzheimer's disease accounts for 60-80% of dementia cases.</p>
   <p>Alzheimer's is not a normal part of aging. The greatest known risk factor is increasing age, and the majority of people with Alzheimer's are 65 and older. Alzheimer’s disease is considered to be younger-onset Alzheimer’s if it affects a person under 65. Younger-onset can also be referred to as early-onset Alzheimer’s. People with younger-onset Alzheimer’s can be in the early, middle or late stage of the disease.</p>
   <p>​Alzheimer's worsens over time. Alzheimer's is a progressive disease, where dementia symptoms gradually worsen over a number of years. In its early stages, memory loss is mild, but with late-stage Alzheimer's, individuals lose the ability to carry on a conversation and respond to their environment. On average, a person with Alzheimer's lives 4 to 8 years after diagnosis but can live as long as 20 years, depending on other factors.</p>
    <h2>Genetic Incidence</h2>
    <p>Alzheimer's disease has a complex etiology involving genetic, environmental, and lifestyle factors. While genetics play a role, they don't solely determine whether someone will develop Alzheimer's. The strongest known genetic risk factor is the presence of the apolipoprotein E (APOE) gene, specifically the APOE4 variant. Individuals with one copy of APOE4 are at increased risk, and those with two copies have an even higher risk, though not everyone with APOE4 develops Alzheimer's.</p>
    <p>Other genetic factors can also contribute to Alzheimer's risk, such as mutations in genes like APP, PSEN1, and PSEN2. These mutations are relatively rare but can substantially increase the likelihood of developing the disease.</p>
    <p>However, it's crucial to note that Alzheimer's disease is multifactorial, meaning it's influenced by a combination of genetic, environmental, and lifestyle factors. For example, cardiovascular health, diet, physical activity, education level, and social engagement all play roles in Alzheimer's risk.</p>
    <p>Genetics play a role, with some cases being familial or inherited. Variants in genes like APOE (apolipoprotein E) are associated with increased risk.</p>
    <h2>Treatment</h2>
    <p>There is no cure for Alzheimer's, but treatments aim to slow its progression and manage symptoms. Medications like cholinesterase inhibitors and memantine are often prescribed.</p>
    <p>It is important to seek a diagnosis as early as possible. The earlier you are diagnosed, the more treatment options will be available to you. Some medications are only effective in the early stages of the disease. </p>
    <p>Your doctor may have a conversation with you about how well some of the Alzheimer's treatments work. They may discuss if the potential benefits outweigh the risk of any side effects. Taking a drug is a personal decision that each individual must make on their own with the help of doctors.</p>
    <h2>Tips to Reduce Symptoms</h2>
    <p>Regular physical and mental exercise, a healthy diet, social engagement, and managing other health conditions can help reduce symptoms and improve overall well-being</p>
    <h6>Managing Alzheimer's disease involves a combination of strategies to help reduce symptoms and improve overall quality of life. Here are some tips:</h6>
    <ul>
        <li><strong>Maintain a Healthy Lifestyle:</strong> Encourage regular physical activity, a balanced diet rich in fruits, vegetables, whole grains, and lean proteins, and adequate hydration.</li>
        <li><strong>Mental Stimulation:</strong> Engage in mentally stimulating activities such as puzzles, games, reading, or learning new skills.</li>
        <li><strong>Social Engagement:</strong> Stay socially active by participating in social activities, joining clubs or support groups, or spending time with family and friends.</li>
        <li><strong>Routine and Structure:</strong> Establish a regular daily routine for meals, activities, and bedtime to reduce confusion and anxiety.</li>
        <li><strong>Safety Precautions:</strong> Create a safe environment by removing hazards and using assistive devices as needed.</li>
        <li><strong>Medication Management:</strong> Work with healthcare professionals to manage medications effectively.</li>
        <li><strong>Emotional Support:</strong> Provide emotional support and reassurance to individuals with Alzheimer's.</li>
        <li><strong>Caregiver Support:</strong> Prioritize self-care and seek support from other caregivers or support groups.</li>
        <li><strong>Regular Medical Check-ups:</strong> Schedule regular medical check-ups to monitor overall health.</li>
        <li><strong>Stay Informed:</strong> Educate yourself about Alzheimer's disease and available resources.</li>
      </ul>
    <h2>Latest Research</h2>
    <p>Research is ongoing into the underlying causes and potential treatments. Recent studies have focused on early detection methods, novel drug therapies, and lifestyle interventions.</p>
    <h5>Latest Research on Alzheimer's Disease</h5>
    <ul>
      <li><strong>Biomarkers and Early Detection:</strong> Researchers are investigating biomarkers that can detect Alzheimer's disease in its early stages, even before symptoms appear.</li>
      <li><strong>Genetic Factors:</strong> Advances in genetics have led to a better understanding of genetic risk factors for Alzheimer's, such as the APOE gene variants.</li>
      <li><strong>Inflammation and Immune System:</strong> There is growing evidence suggesting that inflammation and immune system dysfunction play a role in Alzheimer's disease.</li>
      <li><strong>Lifestyle Interventions:</strong> Studies continue to investigate the impact of lifestyle factors such as diet, exercise, cognitive stimulation, and social engagement on Alzheimer's risk and progression.</li>
      <li><strong>Drug Development:</strong> Numerous clinical trials are ongoing to test new drugs and therapies for Alzheimer's disease.</li>
      <li><strong>Technology and Digital Health:</strong> Technology plays a growing role in Alzheimer's research and care, including the development of digital tools for early detection and monitoring.</li>
      <li><strong>Precision Medicine:</strong> Researchers are exploring precision medicine approaches tailored to individual characteristics.</li>
      <li><strong>Brain Health and Resilience:</strong> Some research focuses on understanding brain resilience and protective mechanisms against Alzheimer's pathology.</li>
    </ul>
</div>
{% endblock content %}
